<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Growl PHP SDK">
            <directory suffix="Test.php">./test/Growl/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Growl/</directory>
        </whitelist>
    </filter>
</phpunit>